.board{
    margin: 20px auto;
    display: grid;
    gap: 2px;
    background: rgb(43, 2, 79);
    border: 10px solid rgb(43, 2, 79);
    width: 20vw;
    height: 40vw;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 0 0 10px;
}