.Help-wrapper {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20vw;
    height: 40vw;
    border-radius: 10px;
    z-index: 10;
}

.Help {
    margin: 5vw auto;
    width: 15vw;
    height: 30vw;
    border: 3px solid rgb(215, 213, 213);
    background-color: rgb(222, 208, 223);
    border-radius: 10px;
    font-size: 1vw;
}

.Help-div {
    margin: 0 auto;
}

.Help-div div {
    color: rgb(43, 2, 79, 0.8);
    font-weight: 550;
    margin: 5px;
}

.title {
    font-size: 1.8vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

.done {
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 3px solid rgb(43, 2, 79, 0.7);
    background-color: rgb(222, 208, 223);
    color: rgb(43, 2, 79, 0.8);
    border-radius: 5px;
    font-size: 1.6vw;
    padding: 8px;
    cursor: pointer;
    width: auto;
    text-align: center;
    line-height: 1.3vh;
    font-weight: 550;
}

.done:hover {
    background-color: rgba(196, 181, 203, 0.8);
    color: rgba(22, 1, 41, 0.8);
}